/*=====================
Common CSS
=======================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: black;
  --secondary-color: #ed017f;
}
@font-face {
  font-family: Metropolis-Regular;
  src: url("../assests/common/Metropolis-Regular.otf");
}
@font-face {
  font-family: Metropolis-SemiBold;
  src: url("../assests/common/Metropolis-SemiBold.otf");
}
@font-face {
  font-family: Metropolis-Bold;
  src: url("../assests/common/Metropolis-Bold.otf");
}
@font-face {
  font-family: Metropolis-ExtraBold;
  src: url("../assests/common/Metropolis-ExtraBold.otf");
}
.container {
  max-width: 1396px;
  padding: 0 15px;
  width: 100%;
  margin: auto;
}
body {
  font-family: Metropolis-Regular;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--primary-color);
}
.primary-btn {
  background-color: var(--secondary-color);
  font-size: 12px;
  border: 1px solid var(--secondary-color);
  color: white !important;
}
.secondary-btn {
  border: 1px solid var(--secondary-color);
  font-size: 12px;
  color: var(--secondary-color) !important;
  letter-spacing: 2px;
}
.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.col-7percent {
  width: 7%;
}
.col-23-25percent {
  width: 23.25%;
}
.col-3 {
  width: calc(8.33% * 3);
}
.col-4 {
  width: calc(8.33% * 4);
}
.col-8 {
  width: calc(8.33% * 8);
}
.title-1 {
  font-size: 63px;
  font-family: Metropolis-ExtraBold;
  line-height: 68px;
}
.title-2 {
  font-family: Metropolis-Bold;
  color: rgba(0, 0, 0, 80%);
  font-size: 35px;
  text-align: center;
}
.subtitle {
  font-size: 16px;
  color: rgba(0, 0, 0, 40%);
  line-height: 22px;
  text-align: center;
}

/*==================
Navbar
====================*/

nav,
.navbar-collapsed,
.navbar-collapsed > ul {
  display: flex;
  align-items: center;
}
.navbar-collapsed {
  flex-grow: 1;
}
.nav-logo > .logo {
  height: 77px;
}
.navbar-collapsed > ul {
  margin: auto;
}
.navbar-collapsed li {
  margin: calc(41.6px / 2);
}
.navbar-collapsed a {
  letter-spacing: 2px;
  color: var(--primary-color);
  font-size: 12px;
  font-weight: 600;
}
.navbar-collapsed a:hover {
  color: var(--secondary-color);
}
.navbar-collapsed .search-icon {
  height: 24px;
  margin-right: 27px;
}
.nav-btn {
  padding: 17px 30px;
  border-radius: 4px;
}
.nav-btn:hover {
  background-color: transparent;
  color: var(--secondary-color) !important;
}




